.root {
  width: 100%;
  margin-block: 2rem;
  margin-inline: auto;
}

.banner {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border: 1px solid;
  border-radius: calc(var(--radius) - 2px);
}

.info {
  background: var(--card);
  border-color: var(--border);
}
.error {
  background: color-mix(in oklab, var(--error) 30%, transparent);
  border-color: var(--error);
}
.success {
  background: color-mix(in oklab, var(--success) 30%, transparent);
  border-color: var(--success);
}
.warning {
  background: color-mix(in oklab, var(--warning) 30%, transparent);
  border-color: var(--warning);
}
