# IDE
.idea/
.vscode/
xcuserdata/

# Miscellaneous
.DS_Store

# Dependencies
node_modules

# Environment
*.env*
*.pem*
|.pem.example
!.env.example

# Logs
*.log

# Build
build
dist / media
.next
next-env.d.ts
.vercel

# Test
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Payload default media upload directory
public/media/
