# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Build
/build
/.next/
/out/
tsconfig.tsbuildinfo

# Miscellaneous
.DS_Store
*.pem
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env*
!.env.example
# IDE
.idea
.vscode
