.root {
  position: relative;
  z-index: 20;
}

.inner {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
}

.logo {
  filter: invert(1);
}

.root[data-theme='dark'] .logo {
  filter: none;
}
