.root {
  margin-bottom: calc(var(--base, 24px) * 1.5);
}

.banner h4 {
  margin: 0;
}

.instructions {
  list-style: decimal;
  margin-bottom: calc(var(--base, 24px) * 0.5);
}

.instructions li {
  width: 100%;
}

.root a:hover {
  opacity: 0.85;
}
