.card {
  overflow: hidden;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background: var(--card);
}

.card:hover {
  cursor: pointer;
}

.media {
  position: relative;
  width: 100%;
}

.content {
  padding: 1rem;
}

.categories {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.title h3 {
  margin-bottom: 0;
}

.titleLink {
  text-decoration: none;
}

.description {
  margin-top: 0.5rem;
}
