.root {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-inline: auto;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.previous,
.next {
  gap: 0.25rem;
}

.previous { padding-left: 0.625rem; }
.next { padding-right: 0.625rem; }

.ellipsis {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 1rem;
  height: 1rem;
}
